*.[oa]
.deps
/Makefile
/aclocal.m4
/autom4te.cache
/build-stamp
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/stamp-h1
Makefile.in
